:host {
    display: block; 
    width: 100%
}

@media (min-width: 768px) { 
}

@media (max-width:767px) {
    .login-intro-container{
        justify-content: center;
    }

    .login-form-container{
        flex-direction: column;
        button[type="submit"]{
            align-self: center;
        }
    }

    .login-form-button-container{
        flex-direction: row;
        justify-content: center;
    }
}