<div class="d-flex flex-row justify-content-center login-container">
  <div class="d-flex flex-column login-intro-container">
    <h3 class="login-intro-title align-self-center">Login to find your free style</h3>
    <div class="d-flex flex-row login-image-container">
      <div>
          <img class="login-intro-image" src="/assets/images/login-women.jpg" alt="">
      </div>
      <div>
          <!-- <img class="login-intro-image" src="/assets/images/login-women.jpg" alt=""> -->
          <img class="login-intro-image align-self-center" src="/assets/images/login-men.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="d-flex flex-row align-self-start login-form-container">
      <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" >
      <div class="login-form-section-title">Log In</div>
      <div class="form-group">
        <label for="username">Account</label>
        <input type="text" class="form-control"  name="username" placeholder="Account" ngModel>
      </div>
      <div class="form-group">
        <label for="psd">Password</label>
        <input type="password" class="form-control" name="psd" placeholder="Password" ngModel>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Sign in</button>
    </form>
  </div>
</div>