<div class="header-logo-container">
    <img class="" src="/assets/images/header-logo.jpg" alt="">
</div>

<div class="menu-container">
    <div class="desktop">
        <a routerLink="/" routerLinkActive="active">
            <span class="menu-item">Home<i class="fa fa-caret-down fa-lg"></i></span>
        </a>
        <a routerLink="/" routerLinkActive="active">
            <span class="menu-item">Account<i class="fa fa-caret-down fa-lg"></i></span>
        </a>
        <a routerLink="/products" routerLinkActive="active">
            <span class="menu-item">Men<i class="fa fa-caret-down fa-lg"></i></span>
        </a>
        <a routerLink="/products" routerLinkActive="active">
            <span class="menu-item">Women<i class="fa fa-caret-down fa-lg"></i></span>
        </a>
        <a routerLink="/" routerLinkActive="active">
            <span class="menu-item">Contact<i class="fa fa-caret-down fa-lg"></i></span>
        </a>
    </div>
    <select class="mobile header-menu" ng-selected="" (change)="navgate_onChange($event)" name="" id="">
        <option value="home">Home</option>
        <option value="Account">Account</option>
        <option value="products">Men</option>
        <option value="products">Women</option>
        <option value="Contact">Contact</option>
    </select>
</div>

<div class="function-container">
    <!-- [hidden]="(authService.isLoggedIn | async)" -->
    <a *ngIf="!show" routerLink="/login" routerLinkActive="active" class="badge badge-info">
        <span class="">Log in</span>
    </a>
    <!-- [hidden]="!(authService.isLoggedIn | async)" -->
    <a *ngIf="show" href="#" (click)="onLogOut($event)" class="badge badge-info">
        <span class="">Log out</span>
    </a>
    <a href="#" class="badge badge-info">
        <span class="">Sign up</span>
    </a>
    <a href="#" class="badge badge-info">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span>0</span> Items -
        <span>{{'0' | currency:'USD':true}}</span>
    </a>
</div>