.badge.active{
    color:#fff;
    text-decoration: none;
    background-color: #117a8b;
}

@media (min-width: 768px) { 
    // h2{
    //     line-height: 2.2;
    //     flex-grow: 0.5;
    // }
    
    // .menu-container{
    //     flex-grow: 1.4;
    //     height: 100%;
    //     a{
    //         display: inline-block;
    //         text-decoration: none;
    //     }
    // }
    
    // .function-container{
    //     flex-grow: 1.1;
    //     height: 100%;

    //     .badge-info{
    //         font-size:20px;
    //     }
    // }

    // .menu-item{
    //     margin:0px 15px;

    //     i.fa-caret-down{
    //         margin-left:5px;
    //     }
    // }
 }

@media (max-width:767px) {
    :host{
        width:100%;
        display: flex;
        flex-direction :row;
        justify-content: space-between;
    }
    
    .header-logo-container{
        display: flex;
        padding:15px;
        flex: 1 1 20%;
        img{
            max-width: 100%;
            height: 100%;
        }
    }

    .header-menu{
        flex: 1;
        height: 30%;
    }

    .menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 35%;
    }

    .function-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size:1.5rem;
        padding: 10px;
        flex: 1 1 35%;
        a{
            flex : 1 1 auto;
            margin:5px;
        }
    }
}

