:host {
    flex: 1 1 20%;
    display: flex;
}

.product-card {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: gray;
    height: 100%;
}

.card-image-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-card-name {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.product-card-text {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    flex: 0.5;
}

.product-card-price {
    flex: 0;
}

@media (min-width: 768px) {
    :host{}
    .card-image-container {
        img {
            height: 100%;
        }
    }
    .product-card-text {
        overflow-wrap: break-word;
    }
}

@media (max-width:768px) {
    .product-card{
        width:100%;
    }
    .product-card-name{
        width: 60%;
    }
    .product-card-text{
        width:60%;
    }
}