header{
    // flex:0 0 auto;
    background-color: lightskyblue;
}

main{
    flex: 1 1 auto;
    min-height: 300px;
}

footer{
    // flex: 0 0 auto;
    background-color: #1C1C1C;
    color:white;
}

@media (min-width: 768px) { 
    // main{
    //     // min-height: 400px;
    // }
}

@media (max-width:767px) {
    header{
        min-height: 100px;
        max-height: 100px;
    }

    main{
        // min-height:300px;
        flex-direction: column;
    }

    footer{
        margin-top:10px;
    }
}