<div class="page-container d-flex flex-column">
  <header class="d-flex flex-row">
    <app-header></app-header>
  </header>
  <main class="d-flex">
    <section>

      <router-outlet></router-outlet>
      <!-- <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div>
        <div>1</div> -->
    </section>
    <footer class="">
      <app-footer></app-footer>
    </footer>
  </main>

</div>