header{
    // flex:0 0 auto;
    background-color: lightskyblue;
}

main{
    flex: 1 1 auto;
    min-height: 300px;
    flex-direction: column;
}

footer{
    background-color: #1C1C1C;
    color:white;
}

@media (min-width: 768px) { 
    header{
        flex:0.2;
    }

    main{
        flex:1.8;
    }

    section{
        flex: 1 1 auto;
    }

    footer{
        flex: 0 0 auto;
    }
}

@media (max-width:767px) {
    header{
        min-height: 100px;
        max-height: 100px;
    }

    footer{
        margin-top:10px;
    }
}