:host {
    display: block; 
    width: 100%
}

.product-list-container{
    padding-top: 20px;
}

.card {
    max-width: 50%;
}
.card-text {
    word-wrap: break-word;
    width: 200px;
}

.card-image-container{
    flex-grow: 1;
    flex-basis: 125px;
    max-width: 300px;
    margin: 5px;
    img{
        width: 100%;
    }
}