<div class="d-flex footer-content-container" >
  <div class="d-flex footer-content-section">
    <h3>Intro</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquet lorem at ipsum blandit, nec facilisis felis faucibus. Morbi sed odio ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ut orci sed lectus iaculis iaculis vel sit amet nunc. Pellentesque at interdum tellus. Maecenas et lorem vitae magna efficitur tristique. Sed eu suscipit sapien, ut pellentesque dui. Proin ante ante, scelerisque eu blandit vel, condimentum vel tortor. Aliquam elementum vel augue dignissim fringilla. Vivamus lacus nulla, ullamcorper et posuere ut, mollis eu leo.</p>
  </div>
  <div class="d-flex footer-content-section">
    <h3>Categories</h3>
    <p>Donec facilisis risus lectus, eget dictum nisi pellentesque in. Maecenas sit amet nibh odio. Mauris et risus et dolor fermentum venenatis. Nam magna lectus, posuere ac velit eget, iaculis pulvinar ipsum. Integer in leo et risus feugiat rhoncus malesuada eget risus. Nulla eu nunc velit. Phasellus rhoncus tortor purus, nec accumsan sem imperdiet aliquam.</p>
  </div>
  <div class="d-flex footer-content-section">
    <h3>Get In Touch</h3>
    <p>Curabitur rutrum sed orci pharetra consequat. Nam rutrum magna eu ex ultrices viverra. Nulla facilisi. Nullam ultricies sed purus a mollis. Donec hendrerit mauris non nisl auctor dapibus. Fusce vel eros nibh. Vestibulum et orci ante.</p>
  </div>
</div>
<div class="d-flex footer-register-container">
  Copyright 2017 <i class="fa fa-copyright" aria-hidden="true"></i>-Timo Yan
</div>